﻿@model CategoryGroupModel
    
<div class="spc-header">
    <div class="category-picture">
        <a href="@Url.RouteUrl("Category", new {SeName = Model.SeName})" title="@Model.Name">
            <img src="@Model.PictureModel.ImageUrl" alt="@Model.PictureModel.Title" />
        </a>
    </div>
    <h2 class="category-title">
        <a href="@Url.RouteUrl("Category", new {SeName = Model.SeName})" title="@Model.Name">@Model.Name</a>
    </h2>
</div>

<div class="spc-body">
    <div class="category-info">
        <div class="category-details">
            <div class="mobile-navigation category-mobile-navigation">
                <select class="category-mobile-navigation-select">
                    @foreach (var tab in Model.Tabs)
                    {
                        <option class="tab" value="@tab.Id" data-tabId="@tab.Id">@tab.Title</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <ul class="navigation">
        @foreach (var tab in Model.Tabs)
        {
            <li class="tab" data-tabId="@tab.Id" notloaded>
                <span>@tab.Title</span>
            </li>
        }
    </ul>
    <div class="category-products">
        @foreach (var tab in Model.Tabs)
        {
            <div class="product-grid" data-tabId="@tab.Id">
                <div class="item-grid">
                    @await Html.PartialAsync("_Grid", tab.Products)
                </div>
            </div>
        }
    </div>
    <div class="loading-overlay">
        <span>@T("SevenSpikes.SmartProductCollections.Public.Loading")</span>
    </div>
</div>