﻿@inject AdminAreaSettings adminAreaSettings
@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;

    Html.SetActiveMenuItemSystemName("SevenSpikes.SocialFeed.Admin.Submenus.SocialNetworks");
}

<nop-antiforgery-token />

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("SevenSpikes.Plugins.SocialFeed.Admin.SocialNetwork.List")
    </h1>
    <div class="float-right">
        <a href="Create" class="btn bg-primary">
            <i class="fa fa-plus-square"></i>
            @T("SevenSpikes.Plugins.SocialFeed.Admin.SocialNetwork.AddNew")
        </a>
    </div>
</div>

<section class="content">
    <div class="form-horizontal">
        <div class="cards-group">
            <div class="card card-default">
                <div class="card-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "social-networks-grid",
                        UrlRead = new DataUrl("List", "SocialNetworkAdmin", null),
                        UrlDelete = new DataUrl("DeleteSocialNetwork", "SocialNetworkAdmin", null),
                        Length = defaultGridPageSize,
                        LengthMenu = gridPageSizes,
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(SocialNetworkModel.Name))
                            {
                                Title = T("SevenSpikes.Plugins.SocialFeed.Admin.SocialNetwork.Name").Text
                            },
                            new ColumnProperty(nameof(SocialNetworkModel.Type))
                            {
                                Title = T("SevenSpikes.Plugins.SocialFeed.Admin.SocialNetwork.Type").Text
                            },
                            new ColumnProperty(nameof(SocialNetworkModel.Id))
                            {
                                Render = new RenderCustom("renderEditButton"),
                                Width = "100"
                            },
                            new ColumnProperty(nameof(SocialNetworkModel.Id))
                            {
                                Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                                Width = "100"
                            }
                        }
                    })
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

    function renderEditButton(data, type, row, meta) {

        return '<a class="btn btn-default" href="Edit/' + data + '" title="@T("Admin.Common.Edit")">' +
            '<i class="fas fa-pencil-alt"></i>' +
            '@T("Admin.Common.Edit")' +
            '</a>';
    }
</script>