﻿@model OrderDetailsModel
@{
    if (!Model.PrintMode)
    {
        Layout = "_ColumnsOne";
    }
    else
    {
        Layout = "_Print";
    }
    //title
    Html.AddTitleParts(T("PageTitle.OrderDetails").Text);
    //page class
    Html.AppendPageCssClassParts("html-order-details-page");
}
@if (Model.PrintMode)
{
    <script asp-location="Footer">
        $(document).ready(function () {
            window.print();
        });
    </script>
}
<div class="page order-details-page">
    @if (!Model.PrintMode)
    {
        <div class="page-title">
            <h1>@T("Order.OrderInformation")</h1>
            <div class="buttons">
                <a href="@Url.RouteUrl("PrintOrderDetails", new { orderId = Model.Id })" target="_blank" class="button-1 print-order-button">@T("Order.Print")</a>
                @if (!Model.PdfInvoiceDisabled)
                {
                    <a href="@Url.RouteUrl("GetOrderPdfInvoice", new { orderId = Model.Id })" class="button-2 pdf-invoice-button">@T("Order.GetPDFInvoice")</a>
                }
           </div>
        </div>
    }
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderDetailsPageTop, additionalData = Model })
        <div class="order-overview">
            <div class="order-number">
                <strong>@T("Order.Order#")@Model.CustomOrderNumber</strong>
            </div>
           <div class="order-date">
               @T("Order.OrderDate"): @Model.CreatedOn.ToString("D")
           </div>
           <div class="order-status">
               @T("Order.OrderStatus"): @Model.OrderStatus
           </div>
            <div class="order-total">
                @T("Order.OrderTotal"): <strong>@Model.OrderTotal</strong>
            </div>
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderDetailsPageOverview, additionalData = Model })
        </div>

        <div class="order-details-area">
            <ul class="billing-info">
                <li class="title">
                    @T("Order.BillingAddress")
                </li>
                <li class="name">
                    @Model.BillingAddress.FirstName @Model.BillingAddress.LastName
                </li>
                <li class="email">
                    @T("Order.Email"): @Model.BillingAddress.Email
                </li>
                @if (Model.BillingAddress.PhoneEnabled)
                {
                    <li class="phone">
                        @T("Order.Phone"): @Model.BillingAddress.PhoneNumber
                    </li>
                }
                @if (Model.BillingAddress.FaxEnabled)
                {
                    <li class="fax">
                        @T("Order.Fax"): @Model.BillingAddress.FaxNumber
                    </li>
                }
                @if (Model.BillingAddress.CompanyEnabled && !string.IsNullOrEmpty(Model.BillingAddress.Company))
                {
                    <li class="company">
                        @Model.BillingAddress.Company
                    </li>
                }
                @if (Model.BillingAddress.StreetAddressEnabled)
                {
                    <li class="address1">
                        @Model.BillingAddress.Address1
                    </li>
                }
                @if (Model.BillingAddress.StreetAddress2Enabled && !string.IsNullOrEmpty(Model.BillingAddress.Address2))
                {
                    <li class="address2">
                        @Model.BillingAddress.Address2
                    </li>
                }
                @if (Model.BillingAddress.CityEnabled && !string.IsNullOrEmpty(Model.BillingAddress.City)|| 
                    Model.BillingAddress.CountyEnabled && !string.IsNullOrEmpty(Model.BillingAddress.County) || 
                    Model.BillingAddress.StateProvinceEnabled && !string.IsNullOrEmpty(Model.BillingAddress.StateProvinceName) || 
                    Model.BillingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.BillingAddress.ZipPostalCode))
                {
                    <li class="city-state-zip">
                        @if (Model.BillingAddress.CityEnabled && !string.IsNullOrEmpty(Model.BillingAddress.City))
                        {
                            @Model.BillingAddress.City
                            @if (Model.BillingAddress.CountyEnabled && !string.IsNullOrEmpty(Model.BillingAddress.County) || 
                                Model.BillingAddress.StateProvinceEnabled && !string.IsNullOrEmpty(Model.BillingAddress.StateProvinceName) || 
                                Model.BillingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.BillingAddress.ZipPostalCode))
                            {
                                <text>,</text>
                            }
                        }
                        @if (Model.BillingAddress.CountyEnabled && !string.IsNullOrEmpty(Model.BillingAddress.County))
                        {
                            @Model.BillingAddress.County
                            @if (Model.BillingAddress.StateProvinceEnabled && !string.IsNullOrEmpty(Model.BillingAddress.StateProvinceName) || 
                                Model.BillingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.BillingAddress.ZipPostalCode))
                            {
                                <text>,</text>
                            }
                        }
                        @if (Model.BillingAddress.StateProvinceEnabled && !string.IsNullOrEmpty(Model.BillingAddress.StateProvinceName))
                        {
                            @Model.BillingAddress.StateProvinceName
                            @if (Model.BillingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.BillingAddress.ZipPostalCode))
                            {
                                <text>,</text>
                            }
                        }
                        @if (Model.BillingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.BillingAddress.ZipPostalCode))
                        {
                            @Model.BillingAddress.ZipPostalCode
                        }
                    </li>
                }
                @if (Model.BillingAddress.CountryEnabled && !string.IsNullOrEmpty(Model.BillingAddress.CountryName))
                {
                    <li class="country">
                        @Model.BillingAddress.CountryName
                    </li>
                }
                @if (!string.IsNullOrEmpty(Model.VatNumber))
                {
                    <li class="vat">
                        <span class="label">
                            @T("Order.VATNumber")
                        </span>
                        <span class="value">
                            @Model.VatNumber
                        </span>
                    </li>
                }
                @if (!string.IsNullOrEmpty(Model.BillingAddress.FormattedCustomAddressAttributes))
                {
                    <li class="custom-attributes-view">
                        @Html.Raw(Model.BillingAddress.FormattedCustomAddressAttributes)
                    </li>
                }
                @if (!String.IsNullOrEmpty(Model.PaymentMethod))
                {
                    <li class="title">
                        @T("Order.Payment")
                    </li>
                    <li class="payment-method">
                        <span class="label">
                            @T("Order.Payment.Method"):
                        </span>
                        <span class="value">
                            @Model.PaymentMethod
                        </span>
                    </li>
                    if (!Model.PrintMode)
                    {
                        <li class="payment-method-status">
                            <span class="label">
                                @T("Order.Payment.Status"):
                            </span>
                            <span class="value">
                                @Model.PaymentMethodStatus
                            </span>
                        </li>
                    }
                    if (!Model.PrintMode && Model.CanRePostProcessPayment)
                    {
                        @*Complete payment (for redirection payment methods)*@
	                    <li class="repost">
	                        @using (Html.BeginRouteForm("OrderDetails", FormMethod.Post))
	                        {
	                           @Html.AntiForgeryToken()
	                            <button type="submit" name="repost-payment" class="button-2 re-order-button">@T("Order.RetryPayment")</button>
	                            <p class="hint">
	                                <em>@T("Order.RetryPayment.Hint")</em>
	                            </p>
	                        }
	                    </li>
                    }
                }
                @if (Model.CustomValues != null)
                {
                    foreach (var item in Model.CustomValues)
                    {
                        <li class="custom-value">
                            <span class="label">
                                @item.Key:
                            </span>
                            <span class="value">
                                @(item.Value != null ? item.Value.ToString() : "")
                            </span>
                        </li>
                    }
                }
            </ul>
            @if (Model.IsShippable)
            {
                <ul class="shipping-info">
                    <li class="title">
                        @(Model.PickupInStore ? T("Order.PickupAddress") : T("Order.ShippingAddress"))
                    </li>
                    @if (!Model.PickupInStore)
                    {
                        <li class="name">
                            @Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName
                        </li>
                        <li class="email">
                            @T("Order.Email"): @Model.ShippingAddress.Email
                        </li>
                        if (Model.ShippingAddress.PhoneEnabled)
                        {
                            <li class="phone">
                                @T("Order.Phone"): @Model.ShippingAddress.PhoneNumber
                            </li>
                        }
                        if (Model.ShippingAddress.FaxEnabled)
                        {
                            <li class="fax">
                                @T("Order.Fax"): @Model.ShippingAddress.FaxNumber
                            </li>
                        }
                        if (Model.ShippingAddress.CompanyEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.Company))
                        {
                            <li class="company">
                                @Model.ShippingAddress.Company
                            </li>
                        }
                        if (Model.ShippingAddress.StreetAddressEnabled)
                        {
                            <li class="address1">
                                @Model.ShippingAddress.Address1
                            </li>
                        }
                        if (Model.ShippingAddress.StreetAddress2Enabled && !string.IsNullOrEmpty(Model.ShippingAddress.Address2))
                        {
                            <li class="address2">
                                @Model.ShippingAddress.Address2
                            </li>
                        }
                        @if (Model.ShippingAddress.CityEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.City)|| 
                            Model.ShippingAddress.CountyEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.County) || 
                            Model.ShippingAddress.StateProvinceEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.StateProvinceName) || 
                            Model.ShippingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.ZipPostalCode))
                        {
                            <li class="city-state-zip">
                                @if (Model.ShippingAddress.CityEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.City))
                                {
                                    @Model.ShippingAddress.City
                                    @if (Model.ShippingAddress.CountyEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.County) || 
                                        Model.ShippingAddress.StateProvinceEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.StateProvinceName) || 
                                        Model.ShippingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.ZipPostalCode))
                                    {
                                        <text>,</text>
                                    }
                                }
                                @if (Model.ShippingAddress.CountyEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.County))
                                {
                                    @Model.ShippingAddress.County
                                    @if (Model.ShippingAddress.StateProvinceEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.StateProvinceName) || 
                                        Model.ShippingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.ZipPostalCode))
                                    {
                                        <text>,</text>
                                    }
                                }
                                @if (Model.ShippingAddress.StateProvinceEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.StateProvinceName))
                                {
                                    @Model.ShippingAddress.StateProvinceName
                                    @if (Model.ShippingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.ZipPostalCode))
                                    {
                                        <text>,</text>
                                    }
                                }
                                @if (Model.ShippingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.ZipPostalCode))
                                {
                                    @Model.ShippingAddress.ZipPostalCode
                                }
                            </li>
                        }
                        if (Model.ShippingAddress.CountryEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.CountryName))
                        {
                            <li class="country">
                                @Model.ShippingAddress.CountryName
                            </li>
                        }
                        if (!string.IsNullOrEmpty(Model.ShippingAddress.FormattedCustomAddressAttributes))
                        {
                            <li class="custom-attributes-view">
                                @Html.Raw(Model.ShippingAddress.FormattedCustomAddressAttributes)
                            </li>
                        }
                    }
                    else
                    {
                        if (!string.IsNullOrEmpty(Model.PickupAddress.Address1))
                        {
                            <li class="address1">
                                @Model.PickupAddress.Address1
                            </li>
                        }
                        if (!string.IsNullOrEmpty(Model.PickupAddress.City)|| 
                            !string.IsNullOrEmpty(Model.PickupAddress.County) || 
                            !string.IsNullOrEmpty(Model.PickupAddress.StateProvinceName) || 
                            !string.IsNullOrEmpty(Model.PickupAddress.ZipPostalCode))
                        {
                            <li class="city-state-zip">
                                @if (!string.IsNullOrEmpty(Model.PickupAddress.City))
                                {
                                    @Model.PickupAddress.City
                                    @if (!string.IsNullOrEmpty(Model.PickupAddress.County) || 
                                        !string.IsNullOrEmpty(Model.PickupAddress.StateProvinceName) || 
                                        !string.IsNullOrEmpty(Model.PickupAddress.ZipPostalCode))
                                    {
                                        <text>,</text>
                                    }
                                }
                                @if (!string.IsNullOrEmpty(Model.PickupAddress.County))
                                {
                                    @Model.PickupAddress.County
                                    @if (!string.IsNullOrEmpty(Model.PickupAddress.StateProvinceName) || 
                                        !string.IsNullOrEmpty(Model.PickupAddress.ZipPostalCode))
                                    {
                                        <text>,</text>
                                    }
                                }
                                @if (!string.IsNullOrEmpty(Model.PickupAddress.StateProvinceName))
                                {
                                    @Model.PickupAddress.StateProvinceName
                                    @if (!string.IsNullOrEmpty(Model.PickupAddress.ZipPostalCode))
                                    {
                                        <text>,</text>
                                    }
                                }
                                @if (!string.IsNullOrEmpty(Model.PickupAddress.ZipPostalCode))
                                {
                                    @Model.PickupAddress.ZipPostalCode
                                }
                            </li>
                        }
                        if (!string.IsNullOrEmpty(Model.PickupAddress.CountryName))
                        {
                            <li class="country">
                                @Model.PickupAddress.CountryName
                            </li>
                        }
                    }
                    <li class="title">
                        @T("Order.Shipping")
                    </li>
                    <li class="shipping-method">
                        <span class="label">
                            @T("Order.Shipping.Name"):
                        </span>
                        <span class="value">
                            @Model.ShippingMethod
                        </span>
                    </li>
                    @if (!Model.PrintMode)
                    {
                        <li class="shipping-status">
                            <span class="label">
                                @T("Order.Shipping.Status"):
                            </span>
                            <span class="value">
                                @Model.ShippingStatus
                            </span>
                        </li>
                    }
                </ul>
            }
        </div>

        @if (Model.Items.Count > 0)
        {
            if (!Model.PrintMode && Model.OrderNotes.Count > 0)
            {
                <div class="section order-notes">
                    <div class="title">
                        <strong>@T("Order.Notes")</strong>
                    </div>
                    <div class="table-wrapper">
                        <table class="data-table">
                            <colgroup>
                                <col />
                                <col />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="created-on">
                                        @T("Order.Notes.CreatedOn")
                                    </th>
                                    <th class="note">
                                        @T("Order.Notes.Note")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrderNotes)
                                {
                                    <tr>
                                        <td class="created-on">
                                            @item.CreatedOn.ToString()
                                        </td>
                                        <td class="note">
                                            @Html.Raw(item.Note)
                                            @if (item.HasDownload)
                                            {
                                                <p class="download">
                                                    <a href="@Url.RouteUrl("GetOrderNoteFile", new { ordernoteid = item.Id })">@T("Order.Notes.Download")</a>
                                                </p>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }

            if (!Model.PrintMode && Model.Shipments.Count > 0)
            {
                <div class="section shipments">
                        <div class="title">
                            <strong>@T("Order.Shipments")</strong>
                        </div>
                        <div class="table-wrapper">
                            <table class="data-table">
                                <colgroup>
                                    <col width="1" />
                                    <col width="1" />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>
                                            <span class="item-count">#</span>
                                        </th>
                                        <th class="shipment-id" data-hide="w410, w480, w580, w768">
                                            @T("Order.Shipments.ID")
                                        </th>
                                        <th class="tracking-number">
                                            @T("Order.Shipments.TrackingNumber")
                                        </th>
                                        <th class="shipping-date" data-hide="w410, w480, w580">
                                            @T("Order.Shipments.ShippedDate")
                                        </th>
                                        <th class="delivery-date" data-hide="w410, w480, w580">
                                            @T("Order.Shipments.DeliveryDate")
                                        </th>
                                        <th class="view-details">
                                            @T("Order.Shipments.ViewDetails")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{var counter = 0;}
                                    @foreach (var item in Model.Shipments)
                                    {
                                        counter++;
                                        <tr>
                                            <td>
                                                <span class="item-count">@counter</span>
                                            </td>
                                            <td class="shipment-id">
                                                @item.Id.ToString()
                                            </td>
                                            <td class="tracking-number">
                                                @item.TrackingNumber
                                            </td>
                                            <td class="shipped-date">
                                                @if (item.ShippedDate.HasValue)
                                                {
                                                    @item.ShippedDate.Value.ToString("D")
                                                }
                                                else
                                                {
                                                    @T("Order.Shipments.ShippedDate.NotYet")
                                                }
                                            </td>
                                            <td class="delivery-date">
                                                @if (item.DeliveryDate.HasValue)
                                                {
                                                    @item.DeliveryDate.Value.ToString("D")
                                                }
                                                else
                                                {
                                                    @T("Order.Shipments.DeliveryDate.NotYet")
                                                }
                                            </td>
                                            <td class="view-details">
                                                <a href="@Url.RouteUrl("ShipmentDetails", new { shipmentId = item.Id })" title="@T("Order.Shipments.ViewDetails")">@T("Order.Shipments.ViewDetails")</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>    
            }
        }

        @if (Model.Items.Count > 0)
        {
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderDetailsPageBeforeproducts, additionalData = Model })
            <div class="section products">
                <div class="title">
                    <strong>@T("Order.Product(s)")</strong>
                </div>
                <div class="table-wrapper">
                    <table class="data-table">
                        <colgroup>
                            <col width="1" />
                            @if (Model.ShowSku)
                            {
                                <col width="1" />
                            }
                            <col />
                            @if (Model.ShowVendorName)
                            {
                                <col />
                            }
                            <col width="1" />
                            <col width="1" />
                            <col width="1" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
				                    <span class="item-count">#</span>
				                </th>
                                @if (Model.ShowSku)
                                {
                                    <th class="sku" data-hide="w410, w480, w580, w768">
                                        @T("Order.Product(s).SKU")
                                    </th>
                                }
                                <th class="name">
                                    @T("Order.Product(s).Name")
                                </th>
                                @if (Model.ShowVendorName)
                                {
                                    <th class="vendor" data-hide="w410, w480, w580, w768">
                                        @T("Order.Product(s).VendorName")
                                    </th>
                                }
                                <th class="price" data-hide="w410, w480">
                                    @T("Order.Product(s).Price")
                                </th>
                                <th class="quantity" data-hide="w410, w480">
                                    @T("Order.Product(s).Quantity")
                                </th>
                                <th class="total">
                                    @T("Order.Product(s).Total")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{var counter = 0;}
                            @foreach (var item in Model.Items)
                            {
                                counter++;
                                <tr>
                                    <td>
				                        <span class="item-count">@counter</span>
				                    </td>
                                    @if (Model.ShowSku)
                                    {
                                        <td class="sku">
                                            @item.Sku
                                        </td>
                                    }
                                    <td class="product">
                                        @if (!Model.PrintMode)
                                        {
                                            <em><a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a></em>
                                        }
                                        else
                                        {
                                            @item.ProductName
                                        }
                                        @if (!string.IsNullOrEmpty(item.AttributeInfo))
                                        {
                                            <div class="attributes">
                                                @Html.Raw(item.AttributeInfo)
                                            </div>
                                        }
                                        @if (!string.IsNullOrEmpty(item.RentalInfo))
                                        {
                                            <div class="rental-info">
                                                @Html.Raw(item.RentalInfo)
                                            </div>
                                        }
                                        @if (item.DownloadId > 0)
                                        {
                                            <div class="download">
                                                <a href="@Url.RouteUrl("GetDownload", new { orderItemId = item.OrderItemGuid })">@T("DownloadableProducts.Fields.Download")</a>
                                            </div>
                                        }
                                        @if (item.LicenseId > 0)
                                        {
                                            <div class="download license">
                                                <a href="@Url.RouteUrl("GetLicense", new {orderItemId = item.OrderItemGuid})">@T("DownloadableProducts.Fields.DownloadLicense")</a>
                                            </div>
                                        }
                                        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderDetailsProductLine, additionalData = item })
                                    </td>
                                    @if (Model.ShowVendorName)
                                    {
                                        <td class="vendor">
                                            <span class="vendor-name">@item.VendorName</span>
                                        </td>
                                    }
                                    <td class="unit-price">
                                        @item.UnitPrice
                                    </td>
                                    <td class="quantity">
                                        @item.Quantity
                                    </td>
                                    <td class="total">
                                        @item.SubTotal
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderDetailsPageAfterproducts, additionalData = Model })

            <div class="section options">
                @if (Model.Items.Count > 0 && Model.DisplayTaxShippingInfo)
                {
                    var inclTax = Model.PricesIncludeTax;
                    //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                    //of course, you can modify appropriate locales to include VAT info there
                    <div class="tax-shipping-info">
                        @T(inclTax ? "Order.TaxShipping.InclTax" : "Order.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = await Html.GetTopicSeNameAsync("shippinginfo") }))
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.CheckoutAttributeInfo))
                {
                    <div class="selected-checkout-attributes">
                        @Html.Raw(Model.CheckoutAttributeInfo)
                    </div>
                }
            </div>
            
            <div class="section totals">
                <div class="total-info">
                    <table class="cart-total">
                        <tbody>
                            <tr class="order-subtotal">
                                <td class="cart-total-left">
                                    <label>@T("Order.SubTotal"):</label>
                                </td>
                                <td class="cart-total-right">
                                    <span>@Model.OrderSubtotal</span>
                                </td>
                            </tr>
                            @if (!string.IsNullOrEmpty(Model.OrderSubTotalDiscount))
                            {
                                <tr class="order-subtotal-discount">
                                    <td class="cart-total-left">
                                        <label>@T("Order.SubTotalDiscount"):</label>
                                    </td>
                                    <td class="cart-total-right">
                                        <span>@Model.OrderSubTotalDiscount</span>
                                    </td>
                                </tr>
                            }
                            @if (Model.IsShippable)
                            {
                                <tr class="shipping-cost">
                                    <td class="cart-total-left">
                                        <label>@T("Order.Shipping"):</label>
                                    </td>
                                    <td class="cart-total-right">
                                        <span>@Model.OrderShipping</span>
                                    </td>
                                </tr>
                            }
                            @if (!string.IsNullOrEmpty(Model.PaymentMethodAdditionalFee))
                            {
                                <tr class="tax-rate">
                                    <td class="cart-total-left">
                                        <label>@T("Order.PaymentMethodAdditionalFee"):</label>
                                    </td>
                                    <td class="cart-total-right">
                                        <span>@Model.PaymentMethodAdditionalFee</span>
                                    </td>
                                </tr>
                            }
                            @if (Model.DisplayTaxRates && Model.TaxRates.Count > 0)
                            {
                                foreach (var taxRate in Model.TaxRates)
                                {
                                    <tr>
                                        <td class="cart-total-left">
                                            <label>@string.Format(T("Order.TaxRateLine").Text, taxRate.Rate):</label>
                                        </td>
                                        <td class="cart-total-right">
                                            <span>@taxRate.Value</span>
                                        </td>
                                    </tr>
                                }
                            }
                            @if (Model.DisplayTax)
                            {
                                <tr class="tax-value">
                                    <td class="cart-total-left">
                                        <label>@T("Order.Tax"):</label>
                                    </td>
                                    <td class="cart-total-right">
                                        <span>@Model.Tax</span>
                                    </td>
                                </tr>
                            }
                            @if (!string.IsNullOrEmpty(Model.OrderTotalDiscount))
                            {
                                <tr class="discount-total">
                                    <td class="cart-total-left">
                                        <label>@T("Order.TotalDiscount"):</label>
                                    </td>
                                    <td class="cart-total-right">
                                        <span>@Model.OrderTotalDiscount</span>
                                    </td>
                                </tr>
                            }
                            @if (Model.GiftCards.Count > 0)
                            {
                                foreach (var gc in Model.GiftCards)
                                {
                                    <tr class="giftcard-summary">
                                        <td class="cart-total-left">
                                            <label>@string.Format(T("Order.GiftCardInfo").Text, gc.CouponCode):</label>
                                        </td>
                                        <td class="cart-total-right">
                                            <span>@gc.Amount</span>
                                        </td>
                                    </tr>
                                }
                            }
                            @if (Model.RedeemedRewardPoints > 0)
                            {
                                <tr class="reward-points">
                                    <td class="cart-total-left">
                                        <label>@string.Format(T("Order.RewardPoints").Text, Model.RedeemedRewardPoints):</label>
                                    </td>
                                    <td class="cart-total-right">
                                        <span>@Model.RedeemedRewardPointsAmount</span>
                                    </td>
                                </tr>
                            }
                            <tr class="order-total">
                                <td class="cart-total-left">
                                    <label>@T("Order.OrderTotal"):</label>
                                </td>
                                <td class="cart-total-right">
                                    <span><strong>@Model.OrderTotal</strong></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            if (!Model.PrintMode)
            {
                <div class="actions">
                    @if (Model.IsReOrderAllowed)
                    {
                        <button type="button" class="button-1 re-order-button" onclick="setLocation('@Url.RouteUrl("ReOrder", new { orderId = Model.Id })')">@T("Order.Reorder")</button>
                    }
                    @if (Model.IsReturnRequestAllowed)
                    {
                        <button type="button" class="button-2 return-items-button" onclick="setLocation('@Url.RouteUrl("ReturnRequest", new { orderId = Model.Id })')">@T("Order.ReturnItems")</button>
                    }
                </div>
            }
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderDetailsPageBottom, additionalData = Model })
    </div>
</div>
