﻿<script asp-location="Footer">
    $(document).ready(function () {
        $('#eu-cookie-bar-notification').show();

        $('#eu-cookie-ok').on('click', function () {
            var listOfCookies = [];
            $('.cookie-list label input:not(:checked)').each(function () {
                listOfCookies.push($(this).parent().text().trim());
            });
            $.ajax({
                cache: false,
                type: "POST",
                url: "@Url.RouteUrl("EuCookieLawAccept")",
                data: { listOfCookies },
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    $('#eu-cookie-bar-notification').hide();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Cannot store value');
                }
            });
        });
    });
</script>
<div id="eu-cookie-bar-notification" class="eu-cookie-bar-notification">
    <div class="content">
        <div class="cookie-list">
            <label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>Analytics Cookies</label>
            <label class="container">
                <input type="checkbox" checked disabled>
                <span class="checkmark"></span>Necessary Cookies</label>
        </div>
        <div class="text">@T("EUCookieLaw.Description2")</div>
        <div class="buttons-more">
            <button type="button" class="ok-button button-1" id="eu-cookie-ok">@T("Common.OK")</button>
            <a class="learn-more" href="@Url.RouteUrl("Topic", new { SeName = await Html.GetTopicSeNameAsync("privacyinfo") })">@T("EUCookieLaw.LearnMore")</a>
        </div>
    </div>
</div>