﻿@model ShopAdminModel

<div class="cards-group">
    <div class="card card-default">
        <div class="card-header">
			<div class="card-title">
				@T("SevenSpikes.StoreLocator.Admin.Shop.Mappings")
			</div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="@Model.MappingToStores.SelectedStoreIds" />
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <nop-select asp-for="@Model.MappingToStores.SelectedStoreIds" asp-items="@Model.MappingToStores.AvailableStores" asp-multiple="true" />
                            <script>
                                $(document)
                                    .ready(function() {
                                        var storesIdsInput =
                                            $('#@Html.IdFor(model => model.MappingToStores.SelectedStoreIds)')
                                                .data("kendoMultiSelect");
                                        storesIdsInput.setOptions({
                                            autoClose: false
                                        });

                                        @if (Model.MappingToStores.AvailableStores.Count == 0)
                                        {
                                            <text>
                                                storesIdsInput.setOptions({
                                                    enable: false,
                                                    placeholder: 'No stores available'
                                                });
                                                storesIdsInput._placeholder();
                                                storesIdsInput._enable();
                                            </text>
                                        }
                                    });
                            </script>
                        </div>
                        <div class="col-md-8">
                            @await Component.InvokeAsync("MultistoreDisabledWarning")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>